.navbar {
  background: linear-gradient(to right, #ffffff, #e6f0ff); /* soft gradient */
  backdrop-filter: blur(6px);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: 100px; /* fixed height */
  max-height: 100px; /* enforce max height */
  overflow: hidden;
}

.nav-bar {
  height: 100%;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.logo-img {
  height: 60px; /* adjust for a good fit */
  object-fit: contain;
}
.small-text {
  font-size: 1rem;
  /* font-weight: bold; */
  color: black;
}

.nav-links {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}

.nav-item {
  color: #000;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.3s;
}

.nav-item:hover {
  color: #007bff;
}

.mobile-menu-btn {
  background: transparent;
  border: none;
  color: #000;
}
